
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-wikipedia:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */