* {
  transition: 0.2s;
}

html, body, ul, li, menu, label, button {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
  text-align: left;

  font-weight: lighter;
  font-size: inherit;
  font-family: HelveticaNeue, arial, sans-serif;
}

html, body, #main {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.left {
  float: left;
}

body {
  background-color: black;
  text-align: center;
}

section {
  width: 100%;
  height:100%;
  position: relative;
  top: 0;
  left: 0;
}

section > .container {
  width: 100%;
  height: 100%;
}

#mandelbrot {
  width: 100%;
  height: 100%;
}

